body {
  padding: 0;
  margin: 0;
  background-color: #ffdb15;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #f3de6a;
}

.main {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  margin-bottom: 100px;
}

.items {
  width: 800px;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  border: solid black;
  border-radius: 10px;
  background-color: #f3de6a;
}

.cart__items {
  padding: 20px;
  text-align: center;
  width: 200px;
  margin-bottom: 0;
}

.empty-cart {
  width: 200px;
  height: 50px;
  font-size: 17px;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* outline: none; */
  font-weight: bold;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #797979;
}

.empty-cart:hover {
  background-color: green;
  transition: 0.2s;
}

.empty-cart:active {
  background-color: #2a5e2b;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
  transition: 0.2s;
  /* transform: scale(1.05); */
}

li {
  box-shadow: -5px 5px 5px;
  background-color: beige;
  font-size: 15px;
  margin-bottom: 30px;
  border: solid black 1px;
  border-radius: 15px;
  padding: 15px;
  list-style-type: none;
}

.comprar {
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #f3de6a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-price {
  text-decoration: overline;
}

.item {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: -5px 5px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 25px;
  width: 200px;
  transition: 0.3s;
}

.item:hover {
  transition: 0.2s;
  transform: scale(1.02);
  box-shadow: -12px 12px 15px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  appearance: none;
  background-color: green;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.item .item__add:before {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: rgb(162, 221, 1);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "ADCIONAR AO CARRINHO!";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.item .item__add:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.item .item__add:after {
  background-color: rgb(0, 92, 0);
}

.item .item__add span {
  z-index: 1;
  position: relative;
}

.item .item__add:active {
  transform: translateY(2px);
  transition: 0.2s;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

footer {
  margin: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background-color: green;
  width: 100px;
  height: 25;
  border-radius: 15px;
  box-shadow: 0 6px #797979;
}

.footer-buttons:active {
  background-color: #2a5e2b;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
  transition: 0.2s;
}

.links {
  text-decoration: none;
  color: black;
}
